.bg {
    background-size: 700px 500px;
}

.bg {
    background-size: 100% 100%
}

.bg {
    background-size: cover;
}

.bg {
    background-size: contain;
}

body {
    background-image: url("front.png"), url("back.png");
    background-repeat: no-repeat, repeat;
    background-size: 100% 100%;
}