.navicon {
    cursor: pointer;
    height: 60px;
    padding: 28px 15px;
    position: absolute;
    top: 0; right: 0;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navicon-bar {
    background-color: #333;
    display: block;
    position: relative;
    transition: background-color .2s ease-out;
    width: 20px;
    height: 3px;
}

.navicon-bar::before,
.navicon-bar::after {
    background-color: #333;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
}
.navicon-bar::before {
    top: -7px;
}
.navicon-bar::after {
    top: 7px;
}

.nav-toggle:checked ~ .navicon > .navicon-bar {
    background: transparent;
}
.nav-toggle:checked ~ .navicon > .navicon-bar::before {
    transform: rotate(45deg);
    top: 0;
}
.nav-toggle:checked ~ .navicon > .navicon-bar::after {
    transform: rotate(-45deg);
    top: 0;
}


.nav-toggle {
    display: none;
}
.navicon {
    display: none;
}

@media screen and (max-width: 480px) {
    header {
        height: 60px;
    }
    .nav-toggle:checked ~ .nav-items {
        display: block;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    }
    .nav-items {
        display: none;
    }
    .nav-items > li {
        display: block;
    }
    .nav-items > li > a {
        line-height: 50px;
    }

    .navicon {
        display: block;
    }
    #wrap {
        /* margin-top = header height */
        margin-top: 60px;
    }
    aside {
        top: 60px;
    }
}