.flex-container {
    flex-direction: row;
}

.flex-container {
    flex-direction: row-reverse;
}

.flex-container {
    flex-direction: column;
}

.flex-container {
    flex-direction: column-reverse;
}